/* CONTAINERS  */
.spacer {
    padding: 1.4rem 1.4rem;
}

.gapper {
    padding: 1rem 1rem;
}

/* BUTTONS  */
.button {
    border-radius: 35px;
    padding: 12px 25px;
    font-weight: 500;
    font-size: 13px;
    border: none;
}

.primary-btn {
    background-color: var(--primary-500);
    color: var(--white);
}

.outline-btn {
    border: 1px solid var(--primary-500);
    background-color: var(--white);
    color: var(--primary-500);
}

.dark-btn {
    background-color: var(--gray-900);
    color: var(--white);
}



/* MODALS  */
.modal-mask {
    background-color: #000000c6;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 9999999;
    width: 100%;
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    place-items: center;
    /* visibility: ; */
}

.modal-content {
    width: 40%;
    padding: 30px 45px;
    box-shadow: var(--elevation-1);
    border: none;
    border-radius: 10px;
}



/* TAGS  */
/* Event Name  */
.status {
    color: var(--white-50);
    padding: 5px 15px;
    text-transform: capitalize;
    border-radius: 20px;
    font-size: 11px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
}

.status.success {
    background-color: var(--primary-500);
}

.status.closed {
    border-color: var(--accent-danger);
    color: var(--accent-danger);
}

.status.pending {
    border-color: var(--accent-warning);
    color: var(--accent-warning);
}

.status.managed {
    border-color: var(--primary-500);
    color: var(--primary-500);
}

.basic {
    border: 1px solid var(--primary-500);
    color: var(--primary-500);
    padding: 3px 8px;
    display: block;
    width: max-content;
    border-radius: 20px;
    font-size: 12px;
}



/* FORMS  */
/* Search Field  */
.search-area {
    border: 1px solid var(--primary-200);
    border-radius: 20px;
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    gap: 5px;
    align-items: center;
    padding-left: 20px;
    width: 100%;
}

.search-area input {
    border: none;
    background-color: transparent;
    width: 100%;
    padding: 8px 10px;
    outline: none;
    font-size: 14px;
    color: var(--gray-800);
    font-weight: 400;
}

.search-field label {
    font-size: 14.5px;
}


.search-area input::placeholder {
    color: var(--gray-500);
    font-weight: 300;
    font-size: 14px;
}

.search-icon {
    font-size: 20px;
    font-weight: 300;
    color: var(--gray-500);
}

.input-field {
    border: 1px solid var(--gray-400);
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    /* gap: 5px; */
    padding-left: 10px;
    align-items: center;
    border-radius: 5px;
}

.input-field input {
    width: 100%;
    padding: 10px;
    font-weight: 400;
    outline: none;
    border: none;
    background-color: transparent;
}

.input-field input::placeholder {
    color: var(--gray-500);
    font-weight: 300;
    font-size: 14.5px;
}

.input-field .form-icon {
    color: var(--gray-500);
    font-size: 20px;
}

label {
    font-size: 13px;
    margin-bottom: 0;
    font-weight: 400;
}

select,
input, textarea {
    width: 100%;
    padding: 12px 14px;
    font-weight: 400;
    outline: none;
    border: 1px solid var(--primary-200);
    border-radius: 25px;
    background-color: transparent;
    font-size: 14px;
}

input::placeholder, textarea::placeholder {
    font-weight: 400;
    font-size: 13px;
}

.form-data {
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    /* align-items: center; */
    margin: 30px auto;
}

option:disabled {
    /* color:  red; */
}


/* Filter  */
#filter-data {
    width: 280px;
    background-color: var(--white-50);
    box-shadow: var(--elevation-1);
    height: 90vh;
    overflow-y: auto;

}

#filter-data input,
#filter-data select {
    display: block;
    width: 100%;
    border: 1px solid var(--gray-400);
    border-radius: 6px;
    background-color: var(--white-50);
    outline: none;
    color: var(--gray-700);
    font-weight: 400;
    font-size: 15px;
}

#filter-data input::placeholder #filter-data label {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 3px;
}

#filter-data input {
    padding: 8px 10px;
}

#filter-data select {
    padding: 11px 10px;
}

/* TABLE  */
.table td,
.table th {
    /* border-top: none; */
    /* border-bottom: none; */
    font-size: 14px;
    vertical-align: middle;
    font-weight: 500;
}

.table td {
    color: var(--gray-800);
    font-weight: 300;
    border-bottom: 0.5px solid var(--gray-300);
}


.table tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.06);
}

.table thead th {
    border-bottom: none;
    color: var(--white-50) !important;
    background-color: var(--primary-500);
}

.table-data {
    border: 1px solid var(--primary-200);
    border-radius: 35px;
}

.t-info {
    border-color: var(--primary-200);
    border-width: 1px;
    border-style: solid;
    border-radius: 35px;
    padding: 30px 20px;
}

/* .t-body {
    display: flex;
    display: -webkit-flex;
    display: inline-flex;
    gap: 20px;
    flex-direction: column;
} */

.t-row {
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    flex-direction: column;
    gap: 25px;
}

.t-row .main-table,
.t-row .table-details {
    width: 100%;
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    gap: 20px;
}

.t-row .main-table {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.t-row .table-details {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.t-body img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -o-object-fit: contain;
    object-fit: cover;
    object-position: center;
    -o-object-position: center;
}

.cell-header {
    font-size: 13px;
    font-weight: 400;
    color: var(--gray-500);
}

.cell-content {
    font-size: 14px;
    font-weight: 500;
    
}






/* GENERALS  */
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

.card-number {
    font-weight: 600;
}

.body-text {
    color: var(--gray-700);
    font-weight: 400;
    font-size: 15px;
}

.data-number {
    font-weight: 500;
    color: var(--gray-500);
}

.desc-text {
    color: var(--gray-500);
    font-weight: 300;
    font-size: 12px;
}

.header-text {
    color: var(--gray-800);
    font-weight: 400;
}

.form-header {
    font-weight: 600;
}

.header-area {
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
}

.edit {
    width: 30px;
    height: 30px;
    display: block;
    background-color: var(--primary-100);
    color: var(--primary-500);
    font-size: 20px;
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    place-items: center;
    border-radius: 4px;
}

.delete {
    width: 30px;
    height: 30px;
    display: block;
    background-color: var(--error-100);
    color: var(--error-500);
    font-size: 20px;
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    place-items: center;
    border-radius: 4px;
}

/* ALERTS  */
.error-alert {
    color: var(--error-500);
    font-weight: 300;
    font-size: 13px;
    background-color: rgba(255, 0, 0, 0.1);
    display: block;
    padding: 4px 10px;
    border-radius: 4px;
    text-transform: capitalize;
}

/* N Progress  */
#nprogress .bar {
    height: 5px;
    background: var(--primary-500);
}

#nprogress .spinner-icon {
    border-top-color: var(--primary-500);
    border-left-color: var(--primary-500);
    width: 30px;
    height: 30px;
}

#nprogress .peg {
    box-shadow: 0 0 10px var(--primary-500), 0 0 5px var(--primary-500);
}

/* FORM STEPPER  */
.form-steps {
    border: 1px solid var(--primary-200);
    padding: 15px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: repeat(5, auto);
    justify-content: space-between;
}

.step-items {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: column;
    -ms-flex-direction: column;
    gap: 3px;
}

.step-level {
    font-size: 0.7rem;
    color: var(--muted-color);
    font-weight: 500;
}

.step-title {
    font-size: 13px;
    font-weight: 600;
}

.step-status.pending {
    background-color: rgba(100, 104, 104, 0.22);
    color: var(--muted-color);
    border-radius: 20px;
    font-size: 8.1px;
    font-weight: 500;
    width: max-content;
    padding: 3px 8px;
}

.step-status.completed {
    background-color: var(--accent-success);
    color: var(--gray-900);
    font-weight: 500;
    border-radius: 20px;
    font-size: 8.1px;
    width: max-content;
    padding: 3px 8px;
}

.step-buttons {
    display: flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

/* BORDERED  */
.bordered {
    border: 1px solid var(--primary-200);
    background: #fff;
    padding: 23px;
    border-radius: 25px;
    cursor: pointer;
}

/* COLORS BY ALPHABETS  */

.tag.a,
.tag.b,
.tag.c,
.tag.d,
.tag.e,
.tag.A,
.tag.B,
.tag.C,
.tag.D,
.tag.E {
    background-color: #FF6550 !important;
    color: #fff;
}

.tag.f,
.tag.g,
.tag.h,
.tag.H,
.tag.G,
.tag.F {
    background-color: #7B61FF;
    /* background-color: #FFB20F; */
}

.tag.i,
.tag.j,
.tag.J,
.tag.I {
    background-color: #FFB836;
}


.tag.K,
.tag.L,
.tag.M,
.tag.N,
.tag.O,
.tag.P,
.tag.m,
.tag.n,
.tag.o,
.tag.p,
.tag.k,
.tag.l {
    background-color: #56CDAD;
    color: #fff;
}

.tag.q,
.tag.r,
.tag.s,
.tag.t,
.tag.u,
.tag.Q,
.tag.R,
.tag.S,
.tag.T,
.tag.U {
    background-color: #26A4FF;
    color: #fff;
}

.tag.v,
.tag.w,
.tag.x,
.tag.y,
.tag.z,
.tag.V,
.tag.W,
.tag.X,
.tag.Y,
.tag.Z {
    background-color: rgb(11, 100, 11);
    color: #fff;
}


.color-tab {
    height: 15px;
}


.color-tabs {
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
  }

  
 .icon-tab {
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 3px;
  }


  /* HEADER SELECTION */
  .competences-header-container span {
    color: var(--primary-500);
    font-size: 13px;
    padding: 7px 18px;
    border-radius: 25px;
    font-weight: 500;
  }
  
  .competences-header-container span.active-item {
    background-color:var(--white) ;
  }
  
  .competences-header-container {
    display: flex;
    /* gap: 20px; */
    background-color: var(--primary-200);
    padding: 5px 5px;
    border-radius: 40px;
    width: max-content;
  }

  /* TEXT EDITOR  */
  .ql-toolbar.ql-snow {
    border: 1px solid var(--primary-200) !important;
    border-radius: 20px 20px 0 0;
  }

  .ql-toolbar.ql-snow+.ql-container.ql-snow {
    border: 1px solid var(--primary-200) !important;
    border-radius: 0 0 20px 20px;
  }