/* MAIN APP CONTAINER  */
#main {
    margin-left:230px ;
    transition: all 0.5s;
}

#main.collapsible {
    margin-left:120px ;
    transition: all 0.5s;
}

/* DASHBOARD  */
#dashboard {
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    grid-template-rows: auto auto auto;
    gap: 20px;
}


#dashboard-analytics, #timeline-sessions, #dashboard-statistics {
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
} 

.overview {
    box-shadow: var(--elevation-1);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
}

.trainer-affiliate {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.overview .overview-items {
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    width: 100%;
}

.overview .overview-items .overview-data {
    width: 100%;
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    gap: 10px;
}

.overview-icon {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    place-items: center;
    color: var(--white-50);
    font-size: 20px;
}

.overview-icon.users {
    background-color:#A6B8F5 ;
    color: #1D2C5E;
}

.overview-icon.profit {
    background-color: #FFEACF;
    color:#B57524;
}

.overview-icon.transactions {
    background-color: #8BBEBE;
    color: #236060;
}

.analytics-header h4, .analytics-header h5 {
    color: var(--gray-600);
    font-weight: 500;
}

.analytics-header h5 {
    font-size: 16px;
}

.trainer {
    width: 100%;
    box-shadow: var(--elevation-1);
    padding: 20px;
    border-radius: 8px;
}

.affiliate {
    width: 100%;
    box-shadow: var(--elevation-1);
    padding: 20px;
    border-radius: 8px;
}

.data-info {
    height: 120px;
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    flex-direction: column;
    justify-content: space-between;
}

.analytic-year {
    background-color: var(--primary-500);
    border-radius: 15px;
    color: var(--white-50);
    width: max-content;
    padding: 6px 18px;
    font-size: 13px;
}

/* Dashboard Statistics  */
.monthly-stats {
    background-color: var(--primary-500);
    color: var(--white-50);
    border-radius: 8px;
    padding: 20px;
    width: 100%;
}

.monthly-stats .body-text, .monthly-stats h4 {
    color: var(--white-50);
}

.monthly-stats h4, .monthly-stats h5 {
    font-weight: 400;
    margin: 0;
}

.monthly-stats .number-tag {
    background-color: var(--primary-300);
    height: 40px;
    width: 40px;
    display: block;
    font-size: 14px;
    border-radius: 4px;
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    place-items: center;
}

.session-value {
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    align-items: center;
    gap: 10px;
}

.sessions-values {
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.sales-stats {
    box-shadow:  var(--elevation-1);
    width: 100%;
    padding: 20px;
    border-radius: 8px;
}

.sales-stats h4 {
    font-weight: 400;
}

.sales-stats h2 {
    color: var(--gray-800);
    font-size: 25px;
    font-weight: 500;
}

.sales-stats .number-tag {
    background-color: var(--primary-300);
    height: 40px;
    width: 40px;
    display: block;
    font-size: 14px;
    border-radius: 4px;
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    place-items: center;
}

/* Activity Timeline  */
#activity-timeline, #sessions {
    box-shadow: var(--elevation-1);
    padding: 20px;
    border-radius: 8px;
}

.timeline-header {
    color: var(--gray-600);
    font-weight: 300;
    font-size: 14px;
}

.timeline-text {
    font-weight: 400;
    font-size: 13px;
}

.timeline-link {
    font-size: 13px;
    color: var(--primary-500);
    font-weight: 400;
}

.timeline-link:hover {
    color: var(--primary-300);
}

/* Sesssion  */
#sessions .desc-text {
    font-size: 13px;
}

.session-header {
    font-weight: 500;
    color: var(--gray-800);
}

.session-date {
    font-size: 12px;
    color: var(--gray-800);
}

.session-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    -o-object-fit: cover;
    object-position: top;
    -o-object-position: top;
}

/* TRAINING CLUSTERS  */
.cluster-options {
    display: flex;
    gap: 50px
}

.cluster-options span {
    font-size: 14px;
    position: relative;
    padding: 0 4rem;
    color: var(--gray-500);
    font-weight: 5  00;
}

.cluster-options span::after{
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--gray-500);
    position: absolute;
    left: 0;
    bottom: -8px;
    border-radius: 10px 10px 0 0;
}

.cluster-options span.active-cluster {
    color: var(--primary-500);
}

.cluster-options span.active-cluster::after{
    background-color: var(--primary-500);
}

.cluster-line {
    height: 3px;
    width: 100%;
    background-color: var(--primary-50);
}

/* REPORTS AND STATS  */
#reports-header {
    background-color: var(--gray-50);
}

#reports-header .spacer {
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    gap: 20px;
}

.report-header-item {
    background-color: var(--gray-100);
    color: var(--gray-500);
    font-weight: 500;
    font-size: 15px;
    border-radius: 8px;
    padding: 5px 20px;
}

.report-header-item.active-item {
    color: var(--white-50);
    background-color: var(--primary-500);
}

.total-data h6.body-text, .total-data h6 {
    font-weight: 500;
}

.total-data {
    width: 250px;
}

.total-data h6.body-text {
    font-size: 13px;
}

.total-data  {
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 6px;
} 

.total-data.amount {
    background-color: #99BBBB;
}

.total-data.users {
    background-color: #A6B8F5;
}

.total-data.sessions {
    background-color: #FFEACF;
}

.section-cards {
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    gap: 20px;
}

.reports-table {
    box-shadow: var(--elevation-1);
    border-radius: 8px;
    padding: 2em 0;
}

.fee-total {
    background-color:  var(--primary-50);
    padding: 1em 3em;
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    justify-content: space-between;
}

.body {
    position: relative;
}

.filter-container {
    /* position: absolute; */
    top: 80px;
    right: 0;
    /* height: 100%; */
    width: 0;
    position: fixed;
    /* z-index: 999; */
    /* overflow-x: hidden; */
    transition: 0.5s;
}

.body-content.collapsed {
    margin-right: 290px;
    transition: all .5s;
}

.body-content.collapsed .filter-button {
    display: none;
}

.filter-container.display {
    width: 290px;
}

/* Log Details  */
.description {
    border-radius: 10px;
    border: 1px solid var(--gray-400);
    padding: 15px;
    font-size: 14px;
    font-weight: 400;
}

.details-label {
    font-size: 14px;
    font-weight: 400;
}

.other-details {
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    gap: 10px;
    grid-template-columns: auto auto auto;
}


/* Website Percentage  */
.tab {
    height: 20px;
    width: 40px;
    display: block;
}

.tab.orange {
    background-color: #ED713C;
}

.tab.blue {
    background-color: #163E6B;;
}

.percentage {
    background-color: var(--primary-50);
    border-radius: 5px;
    padding: 10px;
}

.info {
    display: flex;
    display: inline-flex;
    display:-webkit-flex;
    align-items: center;
    gap: 20px;
}