/* MAIN APP CONTAINER  */
#main {
    margin-left:230px ;
    transition: all 0.5s;
}

#main.collapsible {
    margin-left:120px ;
    transition: all 0.5s;
}

/* DASHBOARD */
/* Analytics  */
.analytics {
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    gap: 20px;
}

.sidebar-card h6, .sidebar-card2 h6, #jobs-opened h1 {
    font-weight: 600;
  }
  
  .sidebar-card h1, .sidebar-card2 h1 {
    font-weight: 600;
  }
  
  .analytics .sidebar-card {
    background: url('../img/icons/text.png');
    background-size: 25% 47%;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 100%;
  }
  
  .analytics .sidebar-card2 {
    background: url('../img/icons/user.png');
    background-size: 25% 46%;
    background-repeat: no-repeat;
    background-position: bottom right;
    width: 100%;
  }

  #analytics-data {
    display: grid;
    display: -ms-grid;
    display: -moz-grid;
    grid-template-columns: 1fr 30%;
    gap: 20px;
    grid-row: 1 / span 2;
  }

  #chartts {
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .list-applicants {
    display: grid;
    display: -moz-grid;
    display: -ms-grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  
  .list-applicants h6 {
    font-weight: 400;
    font-size: 14px;
    color: var(--gray-400);
  }

  .list-applicants h6 .number {
    color: var(--gray-900);
    font-weight: 500;
  }

  .applicant-type {
    display: flex;
    display: inline-flex;
    display: -webkit-flex;
    gap: 3px;
    align-items: center;
  }

/* CAMPAIGNS  */
#create-campaign {
    width: 75%;
    margin: 0 auto;
}

#create-campaign .form-content {
    border: 1px solid var(--primary-200);
    border-radius: 10px;
}


/* ASSESSMENT  */

.skills .el-collapse-item__header, .skills .el-collapse-item__wrap {
  border-bottom: 1px solid var(--primary-200);
}

.skills .el-collapse {
  border-bottom: 1px solid var(--primary-200);
  border-top: 1px solid var(--primary-200);
}

.skills .el-collapse-item__header {
  font-size: 18px;
}

.skills-content {
  display: flex;
  display: inline-flex;
  display: -webkit-flex;
  gap: 30px;
}

.skill-header {
  display: flex;
  border: 1px solid var(--primary-200);
  padding: 10px 18px;
  border-radius: 25px;
  display: flex;
  display: inline-flex;
  display: -webkit-flex;
  gap:20px
}

.skill-header span {
  color: #979B9B;
  font-size: 12px;
  font-weight: 300;
}

.skills-data {
  border: 1px solid var(--primary-200); 
  padding: 20px;
  border-radius: 25px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}

.assesement-level {
  background-color: var(--primary-200);
  padding: 25px 20px; 
  border-radius: 25px;
}

.assesement-level span {
  font-size: 15px;
  font-weight: 500;
}

.manager-data {
  border: 1px solid var(--primary-200); 
  padding: 20px;
  border-radius: 25px;
  width: 100%;
}

.competence-search {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 30px ;
  gap: 10px;
}

.competence-search input {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--primary-200);
  padding: 6px 4px;
  font-size: 13px;
  font-weight: 400;
}

.competence-search input::placeholder {
  font-weight: 200;
  color: var(--gray-300);
  font-size: 13px;
} 

.manager-data {
  display: grid;
  display: -ms-grid;
  display: -moz-grid;
  grid-template-columns:repeat(4, 1fr) ;
  gap:20px
}

.manager-info {
  border: 1px solid var(--primary-500);
  padding: 25px 15px;
  border-radius: 35px;
}

.manager-count {
  background-color: var(--primary-500);
  color: #fff;
  font-weight: 500;
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
  place-items: center;
  font-size: 12px;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.manager-tag {
  background-color: #7b61ff1b;
  color: #7B61FF;
  border-radius: 25px;
  padding: 2px 15px;
}

.manager-name {
  font-size: 15px;
  color: var(--primary-color);
}

#create-assessment .form-content {
  border: 1px solid var(--primary-200);
  border-radius: 10px;
  width: 75%;
  margin: 0 auto;
}


