.tag {
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 13px;
    width: max-content;
}

.tag.a,
.tag.b,
.tag.A,
.tag.B{
    color: #56CDAD !important;
    background-color: rgba(86, 205, 173, 0.1)  !important;
}

.tag.c,
.tag.d,
.tag.e,
.tag.C,
.tag.D,
.tag.E {
    color: #FF0000 !important;
    background-color: rgba(255, 0, 0, 0.1) !important;
}


.tag.h,
.tag.i,
.tag.j,
.tag.J,
.tag.I,
.tag.H{
    color: #07a147 !important;
    background-color: #07a1470f !important;
}

.tag.f,
.tag.g,
.tag.G,
.tag.F {
    color: #FFB20F !important;
    background-color: #ffb20f0f !important;
}

.tag.K,
.tag.L,
.tag.M,
.tag.m,
.tag.k,
.tag.l {
    color: rgb(7, 0, 73) !important;
    background-color: rgba(7, 0, 72, 0.1) !important;
}

.tag.N,
.tag.O,
.tag.P,
.tag.p,
.tag.n,
.tag.o{
    color: rgb(38, 1, 1) !important;
    background-color: rgba(38, 1, 1, 0.1) !important;
}


.tag.q,
.tag.r,
.tag.s,
.tag.Q,
.tag.R,
.tag.S
 {
    color: #01445f !important;
    background-color: #01445f0f !important;
}

.tag.t,
.tag.u,.tag.T,
.tag.U {
    color: rgb(152, 98, 6) !important;
    background-color: rgba(152, 98, 6, 0.1) !important;
}

.tag.v,
.tag.w,
.tag.V,
.tag.W
 {
    color: rgb(11, 100, 11) !important;
    background-color: rgba(11, 100, 11, 0.1) !important;
}

.tag.x,
.tag.y,
.tag.z, 
.tag.X,
.tag.Y,
.tag.Z {
    color: #4640DE !important;
    background-color:  rgba(70, 64, 222, 0.1) !important;
}


/* OUTLINE TAGS  */
.outline-tag {
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 13px;
    width: max-content;
    background-color: var(--white-50) !important;
    font-weight: 500;
}

.outline-tag.a,
.outline-tag.b,
.outline-tag.A,
.outline-tag.B{
    color: #56CDAD !important;
    border: 1px solid #56CDAD;
}

.outline-tag.c,
.outline-tag.d,
.outline-tag.e,
.outline-tag.C,
.outline-tag.D,
.outline-tag.E {
    color: #FF0000 !important;
    border: 1px solid #FF0000;
}


.outline-tag.h,
.outline-tag.i,
.outline-tag.j,
.outline-tag.J,
.outline-tag.I,
.outline-tag.H{
    color: #07a147 !important;
    border: 1px solid #07a147;
}

.outline-tag.f,
.outline-tag.g,
.outline-tag.G,
.outline-tag.F {
    color: #FFB20F !important;
    border: 1px solid #FFB20F;
}

.outline-tag.K,
.outline-tag.L,
.outline-tag.M,
.outline-tag.m,
.outline-tag.k,
.outline-tag.l {
    color: rgb(7, 0, 73) !important;
    border: 1px solid rgb(7, 0, 73);
}

.outline-tag.N,
.outline-tag.O,
.outline-tag.P,
.outline-tag.p,
.outline-tag.n,
.outline-tag.o{
    color: rgb(38, 1, 1) !important;
    border: 1px solid rgb(38, 1, 1);
}


.outline-tag.q,
.outline-tag.r,
.outline-tag.s,
.outline-tag.Q,
.outline-tag.R,
.outline-tag.S
 {
    color: #01445f !important;
    border: 1px solid #01445f;
}

.outline-tag.t,
.outline-tag.u,.outline-tag.T,
.outline-tag.U {
    color: rgb(152, 98, 6) !important;
    border: 1px solid rgb(152, 98, 6);
}

.outline-tag.v,
.outline-tag.w,
.outline-tag.V,
.outline-tag.W
 {
    color: rgb(11, 100, 11) !important;
    border: 1px solid rgb(11, 100, 11);
}

.outline-tag.x,
.outline-tag.y,
.outline-tag.z, 
.outline-tag.X,
.outline-tag.Y,
.outline-tag.Z {
    color: #4640DE !important;
    border: 1px solid #4640DE;
}